@import "../styles/theme.scss";

.container {
  width: 100%;
  background-color: $main-bg-color;
}

.chartsWrap {
  width: 100%;
}

.topCharts {
  width: 100%;
}

.advChart {
  height: 100vh;
  width: 100%;
}

.mrktOverview {
  padding: 2rem 0;
  width: 100%;
}

.ccMarket {
  width: 100%;
  div {
    height: 80vh;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 200vh;
  }
  .chartsWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .topCharts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .advChart {
    height:100%;
  }
  .mrktOverview {
    height:100%;
    padding: 1rem 0;
  }
  .ccMarket {
    width: 90%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .chartsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topCharts {
    width: 90%;
  }
  .mrktOverview {
    width: 60%;
    padding: 1rem 0 1rem 1rem;
  }
  .ccMarket {
    width: 90%;
  }
}
