@import "../styles/theme.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $main-bg-color;
  font-family: $text-font;
  font-weight: $text-weight;
  color: $main-text-color;
}

.bgWrap {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: $main-bg-color;
}

.content {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  h3 {
    text-align: center;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    margin: 1rem 0 0.5rem 0;
  }
  h1 {
    font-size: 1.5rem;
  }
}

.topRow,
.bottomRow {
  width: 95%;
}

.topRow {
  display: flex;
  padding: 1rem 0;
}

.bottomRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    background-color: $content-bg-color;
  }
}

.featuredNews { 
  background: linear-gradient(145deg, rgba(21, 28, 77, 0.8547619731) 0%, rgba(0, 0, 0, 0) 50%);
}

.featuredNews,
.articles {
  width: 100%;
  padding-bottom: 1rem;
  background-color: $content-bg-color;
  div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 95%;
      padding-bottom: 0.5rem;
    }
  }
}

.tweets {
  width: 100%;
  padding-bottom: 1rem;
  margin: 1rem 0;
  > div div {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .content h1 {
    font-size: 2rem;
  }
  .featuredNews div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > div {
      width: 30%;
      .titleWrap {
        padding: 3rem 0;
        height: 2rem;
        h3 {
          font-size: 1rem;
        }
      }
    }
  }
  .articles div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    > div {
      width: 30%;
      .titleWrap {
        h3 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .bottomRow {
    flex-direction: row;
  }
  .featuredNews div > div .titleWrap h3 {
    font-size: 1.25rem;
  }
  .articles {
    width: 66%;
    div > div {
      width: 45%;
      padding-bottom: 1rem;
      .titleWrap h3 {
        font-size: 1.25rem;
      }
    }
  }
  .tweets {
    width: 33%;
    margin: 0;
    > div {
      width: 90%;
      margin: auto;
    }
  }
}
