@import "../styles/theme.scss";

.container {
  width: 100%;
  height: 215vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main-bg-color;
  font-family: $text-font;
  font-weight: $text-weight;
  color: $main-text-color;
}

.bgWrap {
  height: $vh-minus-navh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  background-color: $main-bg-color;
}

.content {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.topRow,
.bottomRow {
  width: 95%;
}

.topRow {
  display: flex;
  div {
    background-color: $content-bg-color;
  }
  h3 {
    text-align: center;
  }
}

.featuredNews {
  width: 100%;
  height: 50vh;
}

.bottomRow {
  div {
    background-color: $content-bg-color;
  }
}

.announcements,
.tweets,
.articles {
  height: 50vh;
  h3 {
    text-align: center;
    padding: 1rem 0;
  }
}

@media (min-width: 1024px) {
  .container {
    height: (calc(#{$vh-minus-footerh} * 1.5));
  }
  .content {
    height: (calc(#{$vh-minus-footerh} * 1.5));
  }
  .topRow, .bottomRow {
    height: (calc(#{$vh-minus-footerh} * 0.75 - 4rem));
    div {
      height: 100%;
    }
  }
  .bottomRow {
    display: flex;
    justify-content: space-between;
  }
  .announcements, .tweets, .articles {
    width: 30%;
    h3 {
      padding: 0;
    }
  }
}