// Colors
$content-bg-color: rgb(23, 0, 0, 0.5);
$main-bg-color: #000000;
$main-text-color: #ffffff;

// Fonts
$text-font: Roboto;
$text-weight: 400;
$title-font: Roboto;
$title-weight: 700;

// Sizing
$nav-height: 8rem;
$footer-height: 6rem;
$vh-minus-navh: (calc(100vh - #{$nav-height}));
$vh-minus-footerh: (calc(100vh - #{$footer-height}));